<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWURE2XFER2N54W1qXLTtinOi-ktwtFx8</string>
	<key>GCM_SENDER_ID</key>
	<string>239270163553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditFbRp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>redditfirebaseriverpodeb</string>
	<key>STORAGE_BUCKET</key>
	<string>redditfirebaseriverpodeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239270163553:ios:19e35447c415592bf86620</string>
</dict>
</plist>